body {
    text-align: center;
    background-image: linear-gradient(to bottom right, rgb(167, 69, 69), rgb(236, 221, 147));
    color: white;
    font-family: sans-serif;
    padding: 21.3%;
    
}

table {
    width: 35%;
    margin: auto;
    padding: 25;
    border: 7px solid white;
    
    border-radius: 20px;
    text-align: center;
    
    animation: chrome_bd 20s infinite;
    animation-direction: alternate;
    background-image: linear-gradient(to bottom left, rgb(10, 16, 54), rgb(13, 104, 51));
}

button {
    border: 2px solid white;
    border-radius:100%;
    color: white;
    animation: chrome_bg 20s infinite;
    animation-direction: alternate;
}
#notEnough{
    border: 2px solid red;
    border-radius: 100px;
    width: fit-content;
    margin: auto;
    color: white;
    background-color:red;
    font-size: small;
}

tr:nth-child(1){
    border: 2px solid white;
    animation: chrome_bd 20s infinite;
    animation-direction: alternate;
}






@keyframes chrome_bd {
    0%{border-color: red;}
    25%{border-color: yellow;}
    50%{border-color:green}
    75%{border-color:blue}
    100%{border-color: red;}
}
@keyframes chrome_bg {
    0%{background: red;}
    25%{background: yellow;}
    50%{background:green}
    75%{background:blue}
    100%{background: red;}
}
